fullnameOverride: "approvals"

image:
  repository: oc/approvals
  tag: "1.0"
  pullPolicy: IfNotPresent

replicas: 1

service:
  port: 8081

env:
  POSTGRES_HOST: postgres
  POSTGRES_PORT: "5432"
  APPROVALS_ADDR: ":8081"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi
