apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "oc-gateway.fullname" . }}
  labels:
    {{- include "oc-gateway.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "oc-gateway.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    # Allow ingress from ingress controller / Ingress resources
    - from:
        - namespaceSelector: {}
      ports:
        - protocol: TCP
          port: {{ .Values.service.port }}
  egress:
    # Allow DNS
    - to:
        - namespaceSelector: {}
      ports:
        - protocol: UDP
          port: 53
    # Allow egress to postgres, opa, approvals, connector-slack, connector-jira
    - to:
        - podSelector: {}
      ports:
        - protocol: TCP
          port: 5432
        - protocol: TCP
          port: 8181
        - protocol: TCP
          port: 8081
        - protocol: TCP
          port: 8082
        - protocol: TCP
          port: 8083
