apiVersion: v1
kind: Service
metadata:
  name: {{ include "oc-gateway.fullname" . }}
  labels:
    {{- include "oc-gateway.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "oc-gateway.selectorLabels" . | nindent 4 }}
